name: test cd

on:
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  run_pull:
    name: run pull
    runs-on: ubuntu-latest
    
    steps:
    - name: send telegram message on push
      uses: appleboy/telegram-action@master
      with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ${{ github.actor }} created commit:
            Commit message: ${{ github.event.commits[0].message }}
            
            Repository: ${{ github.repository }}
            
            See changes: https://github.com/${{ github.repository }}/commit/${{github.sha}}

    - name: install ssh keys
      # check this thread to understand why its needed:
      # https://stackoverflow.com/a/70447517
      run: |
        install -m 600 -D /dev/null ~/.ssh/id_rsa
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts
    - name: connect and pull
      run:  |
       ssh ${{ secrets.SSH_USER}}@${{ secrets.SSH_HOST}}  "cd ${{ secrets.WORK_DIR}} && git pull git@github.com:alexandrBally/action-clone-rep2.git && exit"
       ssh ${{ secrets.SSH_USER}}@${{ secrets.SSH_HOST}}  "cd ${{ secrets.WORK_DIR}} && docker compose down"
       ssh ${{ secrets.SSH_USER}}@${{ secrets.SSH_HOST}}  "cd /home/fusion/elefteriadi/github-ci-cd/action-clone-rep2/frontend && npm i"
       ssh ${{ secrets.SSH_USER}}@${{ secrets.SSH_HOST}}  "cd ${{ secrets.WORK_DIR}} && docker compose up -d --build"
       ssh ${{ secrets.SSH_USER}}@${{ secrets.SSH_HOST}}  "cd ${{ secrets.WORK_DIR}} && docker exec -i abale-backend npm run db:migrate:up"
       ssh ${{ secrets.SSH_USER}}@${{ secrets.SSH_HOST}}  "cd ${{ secrets.WORK_DIR}} && docker exec -i abale-backend npm run db:seed"
       
   
   
       
       
       
       
#       run: ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd ${{ secrets.WORK_DIR }} && git checkout ${{ secrets.MAIN_BRANCH }} && git pull && exit"
#     - name: cleanup
#       run: rm -rf ~/.ssh
#   deploy:
#     name: deploy-book-app
#     runs-on: ubuntu-latest
    
#     steps:
#       - name: connect and pull
#         run: |
#          ssh fusion@158.160.102.242  "cd ${{ secrets.WORK_DIR}} && docker compose up down  && exit"
#          ssh fusion@158.160.102.242  "cd ${{ secrets.WORK_DIR}} && docker compose up -d --build  && exit"
